﻿@page "{OldID:int}"
@model GambitRefreshList.Pages.AssignedAssetInfoModel

@{
    Layout = "Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssignedAssetInfo</title>
</head>
<body>

    <div>
        <h4>Asset for: @ViewData["Name"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AssetReplacementLookup.NewAssetNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AssetReplacementLookup.NewAssetNavigation.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AssetReplacementLookup.OldAssetNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AssetReplacementLookup.OldAssetNavigation.Id)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Index">Home</a>
    </div>
</body>
</html>
