﻿@page
@model GambitRefreshList.Pages.CompletedComputerModel

@{
    ViewData["Title"] = "Deploy Computers";
}

<h1>Deploy Computers</h1>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assigned Replacements</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                Old Asset
                </th>
                <th>
                New Asset
                </th>
                <th>
                    Deploy Assignment
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.AssetReplacementLookup)
            {
                <form method="post">
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.NewAssetNavigation.Id)
                            @Html.HiddenFor(modelItem => item.OldAssetNavigation.Id)

                            @Html.DisplayFor(modelItem => item.OldAssetNavigation.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewAssetNavigation.Name)
                        </td>

                        <td>
                            <input type="submit" value="Deploy Asset" asp-page-handler="Submit" />
                        </td>
                    </tr>
                </form>
            }
        </tbody>
    </table>

    <div>
        <a asp-page="./Index" class="btn btn-primary">Go Home</a>
    </div>
</body>
</html>
