﻿@page
@model GambitRefreshList.Pages.CreateModel

@{
    Layout = "Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Create Assets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Itasset.BranchId" class="control-label"> Branch</label>
                <select asp-for="Itasset.BranchId" class="form-control" asp-items="ViewBag.Branch"></select>
            </div>
            <div class="form-group">
                <label asp-for="Itasset.LocationId" class="control-label">Location</label>
                <select asp-for="Itasset.LocationId" class="form-control" asp-items="ViewBag.Location"></select>
            </div>
            <div class="form-group">
                <label asp-for="Itasset.DeviceTypeId" class="control-label">Device Type</label>
                <select asp-for="Itasset.DeviceTypeId" class="form-control" asp-items="ViewBag.DeviceTypeDrop"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Qty</label>
                <select name="Qty" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Itasset.Name" class="control-label"></label>
                <input asp-for="Itasset.Name" class="form-control" />
                <span asp-validation-for="Itasset.Name" class="text-danger"></span>
            </div>
            -->

            <div class="form-group">
                <label asp-for="Itasset.Manufacturer" class="control-label"></label>
                <input asp-for="Itasset.Manufacturer" class="form-control" />
                <span asp-validation-for="Itasset.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itasset.Size" class="control-label"></label>
                <input asp-for="Itasset.Size" class="form-control" />
                <span asp-validation-for="Itasset.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itasset.Model" class="control-label"></label>
                <input asp-for="Itasset.Model" class="form-control" />
                <span asp-validation-for="Itasset.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itasset.OperatingSystem" class="control-label"></label>
                <input asp-for="Itasset.OperatingSystem" class="form-control" />
                <span asp-validation-for="Itasset.OperatingSystem" class="text-danger"></span>
            </div>

            <!--
            <div class="form-group">
                <label asp-for="Itasset.DateModified" class="control-label"></label>
                <input asp-for="Itasset.DateModified" class="form-control" />
                <span asp-validation-for="Itasset.DateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itasset.VendorId" class="control-label"></label>
                <select asp-for="Itasset.VendorId" class="form-control" asp-items="ViewBag.VendorId"></select>
            </div>
            -->

            <div class="form-group">
                <label asp-for="Itasset.PurchasedOn" class="control-label"></label>
                <input asp-for="Itasset.PurchasedOn" class="form-control" />
                <span asp-validation-for="Itasset.PurchasedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itasset.VendorPonumber" class="control-label"></label>
                <input asp-for="Itasset.VendorPonumber" class="form-control" />
                <span asp-validation-for="Itasset.VendorPonumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itasset.Bskponumber" class="control-label"></label>
                <input asp-for="Itasset.Bskponumber" class="form-control" />
                <span asp-validation-for="Itasset.Bskponumber" class="text-danger"></span>
            </div>
            <!--

            <div class="form-group">
                <label asp-for="Itasset.SerialNumber" class="control-label"></label>
                <input asp-for="Itasset.SerialNumber" class="form-control" />
                <span asp-validation-for="Itasset.SerialNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Itasset.ServiceTagNumber" class="control-label"></label>
                <input asp-for="Itasset.ServiceTagNumber" class="form-control" />
                <span asp-validation-for="Itasset.ServiceTagNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Itasset.EmployeeId" class="control-label"></label>
                <select asp-for="Itasset.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </body>
    </html>
