﻿@page
@model GambitRefreshList.Pages.DoNotShowModel

@{
    ViewData["Title"] = "DoNotShow";
}

<h1>DoNotShow</h1>

<div>
    <h4>Itasset</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.OperatingSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.OperatingSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.IsDecommissioned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.IsDecommissioned)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.DateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.DateModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.PurchasedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.PurchasedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.VendorPonumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.VendorPonumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Bskponumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Bskponumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.ServiceTagNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.ServiceTagNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Replacement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Replacement)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Branch.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.DeviceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.DeviceType.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Location.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itasset.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itasset.Vendor.VendorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Itasset.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
