﻿@page
@model GambitRefreshList.Pages.DoNotRefreshListModel

@{
    ViewData["Title"] = "DoNotRefreshList";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Do Not Refresh List</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Asset
                </th>
                <th>
                    Remove Assignment
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Itasset)
            {
                <form method="post">
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.Id)
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                  

                        <td>
                            <input type="submit" value="Allow Refresh" asp-page-handler="Submit" />
                        </td>
                    </tr>
                </form>
            }
        </tbody>
    </table>

    <div>
        <a asp-page="./Index" class="btn btn-primary">Go Home</a>
    </div>
</body>
</html>