﻿@page
@model GambitRefreshList.Pages.IndexModel

@{
    Layout = "Shared/_Layout.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gambit Refresh List</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].OperatingSystem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].ServiceTagNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].PurchasedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Branch)
                </th>

                <th> Assign Asset </th>
                <th> Hide Asset </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RefreshedComputer)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatingSystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceTagNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch)
                </td>


                <!---
        <td>
            <a asp-page="./AssignedAssetInfo" asp-route-OldId="item.AssetId"><i class="fa fa-desktop"><br/> Assigned Computer</i></a>
        </td>
    -->
                <td>
                    <a asp-page="./SearchITAsset" asp-route-OldId="@item.AssetId"><i class="fa fa-search"></i> Find Replacement</a>
                </td>
                <td>
                    <a asp-page="./DoNotShow" asp-route-OldId="@item.AssetId"> Don't Refresh</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
