﻿@page "{OldID:int}"
@model GambitRefreshList.Pages.SearchITAsset

@{
    Layout = "Shared/_Layout.cshtml";
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search IT Assets</title>
</head>
<body>
    Assigning Replacement Asset For: @ViewData["Name"]
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].OperatingSystem)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.RefreshedComputer[0].PurchasedOn)
                </th>

                <th> Assign Asset </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Itasset)
            {
                <form method="post">
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.Id)
                            @Html.Hidden("id", (int)ViewData["OldAssetId"])

                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OperatingSystem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchasedOn)
                        </td>
                        <td>
                            <input type="submit" value="Assign Asset" asp-page-handler="Submit" />
                        </td>
                    </tr>
                </form>
            }
        </tbody>
    </table>

    <div>
        <a asp-page="./Index" class="btn btn-primary">Go Home</a>
    </div>
</body>
</html>
